streamlit 
geopandas 
pandas 
numpy 
matplotlib 
folium 
streamlit-folium 
earthengine-api 
google-api-
python-client 
pyproj 
shapely 
python-docx 
requests
google-auth 
google-auth-oauthlib 
google-auth-httplib2
