streamlit==1.38.0
earthengine-api==0.1.398
geemap==0.32.0
geopandas==0.14.3
shapely==2.0.4
pyproj==3.6.1
numpy==1.24.4
pandas==2.1.4
matplotlib==3.8.2
plotly==5.18.0
pillow==10.2.0
requests==2.31.0
python-dotenv==1.0.1
kml2geojson==5.0.1
scikit-learn==1.3.2
